* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(72, 205, 155);
    background: linear-gradient(
        315deg,
        rgba(72, 205, 155, 1) 21%,
        rgba(171, 229, 139, 1) 93%
    );

    // .container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     flex-direction: column;
    // }
}

.pokemon {
    display: grid;
}

ul {
    list-style: none;
}
.list {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    img {
        height: 10rem;
    }
    img:hover {
        transform: scale(1.2);
        transition: 0.3s;
        cursor: pointer;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 10px 15px;
        border-radius: 5px;
        margin: 0 200px;
        cursor: pointer;
    }
    button:hover {
        background-color: aqua;
        transition: 1s;
    }
}

footer {
    height: 400px;
}
